<div class="ui cards">
    <div class="card">
        <div class="content">
            <b>Links: </b>
            <div class="ui divider"></div>
            <div class="ui list">
                <div class="item">
                    <a href="http://reactjs.com" target="_blank"><img src="/images/download.png" alt="React" style="width: 100%"></a>
                </div>
            </div>
        </div>
    </div>
</div>