<% include header %>

<div class="container">
    <div class="ui form segment" style="width: 400px; margin: 60px auto;">
        <form method="post">
            <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="text" name="name" placeholder="Username">
            </div>

            <br><br>

            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
            </div>

            <br><br>

            <input type="submit" class="ui button fluid" value="Login">
        </form>
    </div>
</div>


<% include footer %>